<div class="row">
    <div class="col-md-4">
        <form action="/send-sms" method="POST" class="card card-body">
            <div class="form-group">
                <input type="text" class="form-control" name="message" placeholder="Write your Message" autofocus>
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" name="phone" placeholder="+12056547332" autocomplete="off">
            </div>
            <button class="btn btn-primary">SEND</button>
        </form>
    </div>
    <div class="col-md-8">

        {{#if messages}}
        <div class="card card-body scroll">
            {{#each messages}}
            <div class="card card-body">
                <p>{{Body}}</p>
                <span>{{hideNumber To}}</span>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p>No Messages Yet</p>
        {{/if}}


    </div>
</div>